html,
body {
  background-color: #eee;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  padding-top: 50px;
  box-sizing: border-box;
}

$blue: #0227b3;

.app {
  margin: 0 auto;
  width: 80%;
  height: 80%;
  text-align: center;
  background-color: white;
  border: 5px double black;
}

.window {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.topbar {
  background-color: $blue;
  color: white;
  display: flex;
  justify-content: space-between;

  &-text {
    text-align: center;
    flex-grow: 1;
  }

  &-icons {
    display: flex;

    .icon {
      background-color: #d0d4d6;
      border: 2px outset grey;
      color: black;
    }
  }
}

.menu {
  text-align: left;
  padding-left: 5px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;

  &-elements div::first-letter {
    text-decoration: underline;
  }

  &-elements {
    flex-wrap: wrap;
    display: flex;
    height: 100%;

    a {
      text-decoration: none;
    }
  }

  &-elements div {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    cursor: pointer;
  }

  &-elements div:hover a {
    background-color: $blue;
    color: white;
  }
}

.main {
  height: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 86px auto;
  align-items: stretch;

  &-toolbar {
    grid-column: 1;
    grid-row-start: 1;
    height: 100%;
    border-right: 1px solid black;
    width: 86px; // 86
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    canvas {
      // display: block;
    }
  }

  &-cc {
    grid-column-start: 2;
    grid-row-start: 1;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &-canvas {
      // border: 1px solid black;
      flex-grow: 1;
    }

    &-color-picker {
      height: 50px;
    }
  }
}
