@use "common";

.dropdown {
  width: 150px;
  background-color: white;
  color: black;
  display: none;
  position: absolute;
  border: 1px solid black;
  z-index: 1;

  &-show {
    display: block;
  }

  div:hover {
    background-color: common.$blue;
    color: white;
  }
}
