@use "common";

.toolbar {
  grid-column: 1;
  grid-row-start: 1;
  height: 100%;
  width: common.$toolbar-width;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.toolbar-icons {
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.toolbar-icon {
  border: 1px solid black;
  cursor:  pointer;

  img {
    margin: 0;
  }
}

.toolbar-icon-marked {
  filter: invert(1);
}

.toolbar-icon-not-implemented {
  filter: blur(2px);
  cursor: not-allowed;
}

.tool-size {
  border: 1px solid black;
  margin-bottom: 10px;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.tool-size-bar {
  width: 80%;
  background-color: black;
  margin-bottom: 5px;
}
